{% extends "layout.html" %}

{% block heading %}
  Book
{% endblock %}

{% block content %}
  <div class="mb-5">
    <h4 class="text-secondary">Details</h4><hr>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Title: {{ book.title }}</li>
        <li class="list-group-item">Author: {{ book.author }}</li>
        <li class="list-group-item">Published in: {{ book.year }}</li>
        <li class="list-group-item">ISBN: {{ book.isbn }}</li>
    </ul><br>

  </div>

  <div class="mb-5">
    <h4 class="text-secondary">Reviews</h4><hr>
    {% if gr_count!=0 %}
        <p class="text-secondary">Average Goodreads rating {{ gr_rating }} / 5.0 out of {{ gr_count }} users</p><br>
    {% endif %}

    <form action="" method='post'>
      <div class="form-group"
        <label class="text-secondary">How would you rate this book?</label>

          {% set ratings_dict = {1:"1: Didn't like it", 2:"2: Was ok", 3:"3: Liked it", 4:"4: Really liked it", 5:"5: Excellent!"} %}
          {% set rating_numbers = [5, 4, 3, 2, 1] %}
          {% for rating_number in rating_numbers %}
          <input name="rating" type="radio" value="{{ rating_number }}"><span class="text-secondary">{{ ratings_dict[ rating_number ] }}</span>
          {% endfor %}
      </div>
      <div class="form-group">
        <label for="review">Comment:</label>
        <textarea class="form-control" rows="2" name="review" placeholder="Your review"></textarea>
      </div>
      <button type="submit" class="btn btn-info">Submit review</button>
      <a class="btn btn-info" href="{{ url_for('search') }}" role="button">Search another book</a>
    </form>
  </div>

{% endblock %}
